<div>
    <h3>View reservation</h3>
    <table class="table table-hover">
        <tr>
            <th>Arrival:</th>
            <td>{{ reservation.startDate | date:'MMMM d, yyyy' }}</td>
        </tr>
        <tr>
            <th>Departure:</th>
            <td>{{ reservation.endDate | date:'MMMM d, yyyy' }}</td>
        </tr>
        <tr>
            <th>Number of beds:</th>
            <td>{{reservation.room.numberOfBeds}}</td>
        </tr>
        <tr>
            <th>Room number:</th>
            <td>{{reservation.room.number}}</td>
        </tr>
        <tr>
            <th>Type of room:</th>
            <td>{{reservation.room.smoking?'Smoking': 'Non-smoking'}}
                {{reservation.room.seaView?'with sea-view':'without sea-view'}}
            </td>
        </tr>
    </table>

    <h4 ng-if="!purchases.length">
        No purchases found
    </h4>
    <div ng-if="purchases.length">
        <h4>Purchases</h4>
        <table class="table table-hover">
            <tr>
                <th>Price</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="purchase in purchases">
                <td>{{purchase.amount | number}} Ft</td>
                <td>{{purchase.description}}</td>
                <td>{{purchase.createdAt | date:'MMMM d, yyyy'}}</td>
            </tr>
        </table>
    </div>
</div>
