<div>
    <h3>Foglalás megtekintése</h3>
    <table class="table table-hover">
        <tr>
            <th>Érkezés:</th>
            <td>{{ reservation.startDate | date:'yyyy. MMMM. d.' }}</td>
        </tr>
        <tr>
            <th>Távozás:</th>
            <td>{{ reservation.endDate | date:'yyyy. MMMM. d.' }}</td>
        </tr>
        <tr>
            <th>Ágyak száma:</th>
            <td>{{reservation.room.numberOfBeds}}</td>
        </tr>
        <tr>
            <th>Szobaszám:</th>
            <td>{{reservation.room.number}}</td>
        </tr>
        <tr>
            <th>Szoba típusa:</th>
            <td>{{reservation.room.smoking?'Dohányzó': 'Nemdohányzó'}}, {{reservation.room.seaView?'Tengerre
                néző':'Nem tengerre néző'}}
            </td>
        </tr>
    </table>

    <h4 ng-if="!purchases.length">
        Nem találhatók vásárlások
    </h4>
    <div ng-if="purchases.length">
        <h4>Vásárlások</h4>
        <table class="table table-hover">
            <tr>
                <th>Ár</th>
                <th>Leírás</th>
                <th>Dátum</th>
            </tr>
            <tr ng-repeat="purchase in purchases">
                <td>{{purchase.amount | number}} Ft</td>
                <td>{{purchase.description}}</td>
                <td>{{purchase.createdAt | date:'yyyy. MMMM. d.'}}</td>
            </tr>
        </table>
    </div>
</div>
