<div id="reservations" ng-controller="ReservationCtrl">

    <table class="table table-hover">
        <tr>
            <th width="20%">Name</th>
            <th width="5%">Room</th>
            <th width="15%">Arrival</th>
            <th width="15%">Departure</th>
            <th class="form-inline">
                <input placeholder="Name" type="text" class="form-control" ng-model="search.guest.name"/> &nbsp;&nbsp;
                <select ng-model="searchCheck" class="form-control">
                    <option value="both">Filter</option>
                    <option value="in">Check-in</option>
                    <option value="out">Check-out</option>
                </select>
            </th>
        </tr>
        <tr ng-repeat="reservation in filteredReservations = (reservations | filter: search)">
            <td>{{reservation.guest.name}}</td>
            <td>{{reservation.room.number}}</td>
            <td>{{reservation.startDate | date:'MMMM d, yyyy'}}</td>
            <td>{{reservation.endDate | date:'MMMM d, yyyy'}}</td>
            <td>
                <button ng-if="reservation.checkInAvailable" class="btn btn-info" ng-click="checkIn(reservation)">Check-in</button>
                <small ng-if="reservation.checkedIn">Checked-in <i class="glyphicon glyphicon-ok"></i> &nbsp; </small>
                <button ng-if="reservation.checkOutAvailable" class="btn btn-info" ng-click="checkOut(reservation)">Check-out</button>
                <small ng-if="reservation.checkedOut">Checked-out <i class="glyphicon glyphicon-ok"></i> &nbsp; </small>
                <span ng-if="reservation.checkedIn && !reservation.checkedOut">
                    <a class="btn btn-default" ui-sref="purchase({roomNumber: reservation.room.number})">Charge</a>
                </span>
            </td>
        </tr>
        <tr ng-show="!filteredReservations.length">
            <td colspan="5" align="center">No results</td>
        </tr>
    </table>
</div>
