<div ng-controller="LoginModalCtrl">
    <h3>Log in to continue</h3>

    <div class="well">
        <div class="alert alert-danger" ng-if="loginError">Invalid login data</div>
        <form ng-submit="login()">
            <div>
                <label>
                    Email:
                    <input type="text" class="form-control" ng-model="user.email">
                </label>
            </div>
            <div>
                <label>
                    Password:
                    <input type="password" class="form-control" ng-model="user.password"/>
                </label>
            </div>
            <div>
                <button ng-click="login()" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </div>
</div>
